# Ignore entire directories
node_modules/
dist/
build/

# Ignore specific files
*.min.js
*.min.css

# Ignore locales
*.po

# Ignore all files of a specific type in a specific directory
public/*

# Ignore specific files in a directory
src/specialFile.js

# Ignore files based on wildcard patterns
**/vendor/**/*.js

# Ignore git submodule
pnpm-lock.yaml

